@import '../demo2/src/assets/sass/style';
@import '../demo2/src/assets/sass/pages/login/login-1';
@import "../demo2/src/assets/sass/pages/inbox/inbox";

.required {
    color: #dd2e35
}

#map {
    height: 350px;
    .marker {

    }
    .leaflet-popup {
        margin-bottom: 16px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        padding: 5px 10px;
        text-align: center;
        box-shadow: 0px 10px rgba(0,0,0,0.3);
        background-color: #FFF;
    }
    .leaflet-popup::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #FFF;
    }
    .leaflet-popup.marker {
        .leaflet-popup-content-wrapper {
            background: transparent;
            color: inherit;
            box-shadow: none;
            text-align: inherit;
            .leaflet-popup-tip-container {
                display: none;
            }
            .leaflet-popup-content {
                text-align: inherit;
                color: inherit;
                margin: 0;
            }
        }
    }
    .leaflet-popup.marker.is-active{
        .leaflet-popup-content-wrapper {
            z-index: 300;
            background: #5b86ff;
            color: #FFF;
        }
        .leaflet-popup-content-wrapper::after {
            border-top-color: #5b86ff;
        }
    }
}
